# Backend Node modules
backend/node_modules/

# Frontend Node modules (se houver, improvável no seu caso)
frontend/node_modules/

# Arquivos de ambiente
.env
backend/.env
frontend/.env

# Logs e arquivos do sistema operacional
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db